@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply min-h-screen flex items-center justify-center bg-gradient-to-br from-pink-300 to-pink-700;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
